{% extends "base.html" %}
{% load djangomarkdown %}

{% block title %}Zillias--Papers{% endblock %}

{% block sidebar_menu %}
    {% for bar in sidebar %}
        <li class="treeview">
            <a href="#">
                <i class="fa fa-sticky-note-o"></i> <span>{{ bar }}</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="index.html"><i class="fa fa-circle-o"></i> Papers&Slides </a></li>
                <li><a href="index.html"><i class="fa fa-circle-o"></i> Books </a></li>
                <li><a href="index.html"><i class="fa fa-circle-o"></i> Notes </a></li>
            </ul>
        </li>
    {% endfor %}
{% endblock %}

{% block page_location %}Papers{% endblock %}
{% block page_location_list %}
    <li><a href="/zillia"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Papers</li>
{% endblock %}

{% block main_content %}

    {% for paper in papers_list %}
        <section class="invoice">
            <!--id = models.AutoField(primary_key=True)
            abstract = models.TextField()
            notes = models.TextField()
            state = models.IntegerField(default=2)          # 0 already known; 1 to be reread; 2 to be implemented
            tag = models.TextField(default=None, null=True)-->
            <!-- name -->
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <i class="fa fa-paperclip"></i> <a href="/paper_detail/{{ paper.0 }}">{{ paper.1 }}</a>
                        <small class="pull-right">Date: {{ paper.2 }}</small>
                    </h2>
                </div>
                <div class="col-xs-4">
                    <p><code style="background-color: {{ paper.3 }}; color: #000000">{{ paper.4 }}</code></p>
                </div>
                <div class="col-xs-8">
                    {% for tag in paper.5 %}
                        <span class="badge bg-light-blue">{{ tag }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="row invoice-info">
                <div class="col-sm-3 invoice-col">
                    <strong>Authors</strong>
                </div>
                <div class="col-sm-9 invoice-col">
                    <strong>{{ paper.6 }}</strong>
                </div>

                <div class="col-sm-3 invoice-col">
                    <strong>Institutions</strong>
                </div>
                <div class="col-sm-9 invoice-col">
                    <strong>{{ paper.7 }}</strong>
                </div>

                <div class="col-sm-12">
                    <strong>Abstract</strong>
                </div>

                <div class="col-sm-1"></div>
                <div class="col-sm-11">
                    {{ paper.8|djangomarkdown }}
                </div>
            </div>

        </section>
    {% endfor %}

    <div class="row">
        <div class="col-xs-12">
            <button class="btn bg-purple pull-right margin"><a href="/paper_edit/new" style="color: #FFFFFF">add new paper</a></button>
        </div>
    </div>

{% endblock %}
