{% extends "base.html" %}
{% load djangomarkdown %}

{% block title %}Zillias--Papers{% endblock %}

{% block sidebar_menu %}
    {% for bar in sidebar %}
        <li class="treeview">
            <a href="#">
                <i class="fa fa-sticky-note-o"></i> <span>{{ bar }}</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="index.html"><i class="fa fa-circle-o"></i> Papers&Slides </a></li>
                <li><a href="index.html"><i class="fa fa-circle-o"></i> Books </a></li>
                <li><a href="index.html"><i class="fa fa-circle-o"></i> Notes </a></li>
            </ul>
        </li>
    {% endfor %}
{% endblock %}

{% block page_location %}Papers{% endblock %}
{% block page_location_list %}
    <li><a href="/zillia"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="/paper_lists">Papers</a></li>
    <li class="active">{{ paper_info.1 }}</li>
{% endblock %}

{% block main_content %}

    <section class="invoice">
        <!--id = models.AutoField(primary_key=True)
        abstract = models.TextField()
        notes = models.TextField()
        state = models.IntegerField(default=2)          # 0 already known; 1 to be reread; 2 to be implemented
        tag = models.TextField(default=None, null=True)-->
        <!-- name -->
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header text-center">
                    <i class="fa fa-paperclip"></i> {{ paper_info.1 }}
                </h1>
            </div>
            <div class="col-xs-12">
                <p class="text-center"><code style="background-color: {{ paper_info.3 }}; color: #000000">{{ paper_info.4 }}</code></p>
                <p class="text-center">
                    {% for tag in paper_info.9 %}
                        <span class="badge bg-light-blue">{{ tag }}</span>
                    {% endfor %}
                </p>
                <button class="btn btn-danger margin pull-right"><a onclick="remove_alert()" style="color: #FFFFFF">REMOVE</a></button>
                <button class="btn btn-primary margin pull-right"><a href="/paper_edit/{{ paper_info.0 }}" style="color: #FFFFFF">EDIT</a></button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 invoice-col">
                <strong>Authors</strong>
            </div>
            <div class="col-sm-9 invoice-col">
                <strong>{{ paper_info.5 }}</strong>
            </div>

            <div class="col-sm-3 invoice-col">
                <strong>Institutions</strong>
            </div>
            <div class="col-sm-9 invoice-col">
                <strong>{{ paper_info.6 }}</strong>
            </div>

            <div class="col-xs-3">
                <strong>Date</strong>
            </div>
            <div class="col-xs-9">
                <strong>{{ paper_info.2 }}</strong>
            </div>
        </div>

        <div class="row invoice-info">
            <div class="col-sm-12">
                <strong>Abstract</strong>
            </div>

            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                {{ paper_info.7|djangomarkdown }}
            </div>
        </div>

        <div class="row invoice-info">
            <div class="col-sm-12">
                <strong>Notes</strong>
            </div>

            <div class="col-sm-1"></div>
            <div class="col-sm-11">
                {{ paper_info.8|djangomarkdown }}
            </div>
        </div>

    </section>

    <script type="text/JavaScript">
    function remove_alert(){
        var remove = confirm("Are you sure? (Warning: this operation can not withdraw!)");
        if (remove == true)
        {
            window.location.href = "/delete_paper/" + {{ paper_info.0 }};
        }
    }
    </script>

{% endblock %}
